.main-header {
margin-bottom: 40px;

}
.main-header__wrapper {
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
display: flex;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-container__item {
    height: 88px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog {
    width: 218px;
}
.container-two {
    display: flex;
    margin: 0;
    padding: 0;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;


}
.form {
    width:224px;
}
.main {
    width: 250px;
    background-image: url("./images/header/logotype.png");
    background-repeat: no-repeat;
    background-position: center;
}


.helper-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.helper-container__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 82px;
    height: 100%;
    border: 1px solid #e7e7e7;
    border-left: 0;
    background-image: url("./images/header/search-sign.png");
    background-repeat: no-repeat;
    background-position: center;
}
.helper-container__basket {
    width: 315px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    background-image: url("images/header/cart.png");
    background-repeat: no-repeat;
    background-position: 30px;
}

.container-filter {
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    width: 1090px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-filter__filter {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 347px;
    display: flex;
    justify-content: space-between;
}
.new-arrivals {
    width: 218px;
    text-align: center;
    margin-left: 3px;
}

.free-delivery {
    width: 310px;
    text-align: center;
}

