.week-product {
    width: 1050px;
    display: flex;
    min-height: 730px;
    border: 1px solid;
    margin-bottom: 72px;
}
.week-product__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    border: 1px solid;
min-height: 636px;
}
.week-product__picture {
    background: #f1f1f1 url("images/triple-set-desktop.png") no-repeat right;
    width: 50%;
   min-height: 636px;
}
.week-product__description__headline-block {
    width: 640;
    height: 170px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.week-product__description__headline-block__name {
    color:#63d1bb;
    font-size: 17px;
    line-height: 17px;
}
.week-product__description__headline-block__headline {
    width: 530px;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
}
.week-product__description__wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}
.week-product__description__text {
    margin: 0;
    margin-left: auto;
    margin-right: 67px;
    margin-bottom: 67px;
    padding: 0;
    width: 287px;
    font-size: 17px;
    line-height: 30px;
}
.week-product__description__price {
    width: 286px;
    margin-left: auto;
    margin-right:67px;
    margin-bottom: 150px;
}

tr {
    font-size: 15px;
    border-bottom: 1px solid;
    height: 43px;
}
.week-product__description__price__param {
    width: 98px;
}
.week-product__description__order {
margin: 0;
    margin-left: 166px;
    margin-right: auto;

    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    min-height: 106px;
}
.week-product__description__order__price {
font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
.week-product__description__order__button {
font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    height: 48px;
    width: 288px;
    border: 2px solid #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}
