@import "../../utilities/variables";
/*tablet-tablet-tablet *//*tablet-tablet-tablet */
@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
    .reviews {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 770px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 67px;
        height: 457px;
        border: 1px solid;
        background-image: url("./images/review.png");
        background-repeat: no-repeat;
        background-position: left;
    }
    .reviews__wrapper {
        height: 275px;
        width: 670px;
        position: relative;
    }
    .reviews__headline {
        position: relative;
        bottom: 8px;
        font-size: $headline-font-size-tablet;
        line-height: $headline-font-size-tablet;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .reviews__button {
        color: $button-font-color;
        font-size: 17px;
        line-height: 20px;
        font-weight: bold;
        background-color: transparent;
        width: 170px;
        height: 48px;
        margin: 0;
        margin-left: auto;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.5s ease-in-out;
    }
    .reviews__button:hover {
        background-color: $button-background-color-hover;
        color: $button-font-color-hover;
    }
    .reviews__button:active {
        opacity: 0.5;
    }
    .reviews__comment {
        font-size: 17px;
        line-height: 30px;
        margin: 0;
        margin-top: 35px;
    }
    .reviews__author {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 45px;
        position: absolute;
        left: 0;
        bottom: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .reviews__author__name {
        font-size: 17px;
        font-weight: bold;
    }
    .reviews__slider {
        width: 137px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
        bottom: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .reviews__slider__left {
        width: 50px;
        background-color: transparent;
        background-image: url("./images/huge-arrow-left.png");
        background-position: top;
        background-repeat: no-repeat;
        transition: 0.5s ease-in-out;
    }
    .reviews__slider__left:disabled {
        border: 5px solid red;
    }
    .reviews__slider__left:hover {
        background-image: url("./images/huge-arrow-left-hover.png");
    }
    .reviews__slider__left:active {
        background-image: url("./images/huge-arrow-left-active.png");
    }
    .reviews__slider__right {
        width: 50px;
        background-image: url("./images/huge-arrow-right.png");
        background-position: top;
        background-repeat: no-repeat;
        transition: 0.5s ease-in-out;
    }
    .reviews__slider__right:hover {
        background-image: url("./images/huge-arrow-right-hover.png");
    }
    .reviews__slider__right:active {
        background-image: url("./images/huge-arrow-right-active.png");
    }
};


/*desktop-desktop-desktop */
@media (min-width: $desktop-width-min) {
    .reviews {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1050px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 67px;
        height: 457px;
        border: 1px solid;
        background-image: url("./images/review.png");
        background-repeat: no-repeat;
        background-position: left;
    }
    .reviews__wrapper {
        height: 275px;
        width: 876px;
        position: relative;
    }
    .reviews__headline {
        position: relative;
        bottom: 8px;
        font-size: $headline-font-size-desktop;
        line-height: $headline-font-size-desktop;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    .reviews__button {
        color: #444444;
        font-size: 17px;
        line-height: 20px;
        font-weight: bold;
        background-color: transparent;
        width: 170px;
        height: 48px;
        margin: 0;
        margin-left: auto;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.5s ease-in-out;
    }
    .reviews__button:hover {
        background-color: $button-background-color-hover;
        color: $button-font-color-hover;
    }
    .reviews__button:active {
        opacity: 0.5;
    }
    .reviews__comment {
        font-size: 17px;
        line-height: 30px;
        margin: 0;
        margin-top: 35px;
    }
    .reviews__author {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 45px;
        position: absolute;
        left: 0;
        bottom: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .reviews__author__name {
        font-size: 17px;
        font-weight: bold;
    }
    .reviews__slider {
        width: 137px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
        bottom: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .reviews__slider__left {
        width: 50px;
        background-image: url("./images/huge-arrow-left.png");
        background-position: top;
        background-repeat: no-repeat;
        cursor: $button-cursor;
        transition: 0.5s ease-in-out;
    }
    .reviews__slider__left:hover {
        background-image: url("./images/huge-arrow-left-hover.png");
    }
    .reviews__slider__left:active {
        background-image: url("./images/huge-arrow-left-active.png");
    }
    .reviews__slider__right {
        width: 50px;
        background-image: url("./images/huge-arrow-right.png");
        background-position: top;
        background-repeat: no-repeat;
        cursor: $button-cursor;
        transition: 0.5s ease-in-out;
    }
    .reviews__slider__right:hover {
        background-image: url("./images/huge-arrow-right-hover.png");
    }
    .reviews__slider__right:active {
        background-image: url("./images/huge-arrow-right-active.png");
    }
};
