@import "../../utilities/variables";

@media (min-width: $desktop-width-min) {

  .form-popup {
    z-index: 200;
    position: absolute;
  }

  .popup {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }


  .popup__container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-height: 550px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    justify-content: space-between;
    border: 1px solid #c1c1c1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .form-reviews__personal-data {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1050px;
    min-height: 370px;
    border: 1px solid;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 19px;
    font-weight: bold;
  }
  .form-reviews__personal-data__wrapper {
    flex-grow: 1;
    display: flex;
    min-height: 210px;
  }
  .form-reviews__personal-data__list {
    width: 700px;
    margin: 0;
    margin-left: 85px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .form-reviews__personal-data__list__item {
    font-size: 19px;
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .label-name,
  .label-family-name,
  .label-patronymic {
    margin: 0;
    margin-right: 26px;
  }
  input#name,
  input#family-name {
    padding-left: 18px;
    transition: $transition;
    margin: 0;
    flex-grow: 1;
    height: 52px;
    border: 0;
    border-bottom: 2px solid #555555;
  }

  input#name:focus,
  input#family-name:focus {
    flex-grow: 1;
    height: 52px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #96e0d1;
  }

  .form-reviews__textarea {
margin-top: 50px;
    height: 100px;
  }
  .form-reviews__textarea:placeholder-shown {
text-align: center;
    font-size: 24px;
  }


  .form-reviews__button-container {
    margin-top: 50px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-reviews__button-container__button {
    transition: $transition;
    background-color: transparent;
    height: 52px;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    border: 2px solid #444444;
  }
  .form-reviews__button-container__button:hover {
    background-color: #444444;
    color: #ffffff;
  }
  .form-reviews__button-container__button:active {
    opacity: 0.5;
  }
  .form-reviews__button-container__span {
    font-size: 17px;
    font-weight: normal;
  }
};
