@import "../../../../utilities/variables";


@media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  .form__wishes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    min-height: 353px;
    //border: 1px solid;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: bold;
  }
  .form__wishes__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__wishes__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .form__wishes__list__item {
    width: 100%;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .label-textarea {
    font-size: $basic-font-size-desktop;
    color: #63d1bb;
    margin: 0;
    margin-bottom: 20px;
  }
  input#textarea {
    font-size: 16px;
    transition: $transition;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-top: 20px;
    flex-grow: 1;
    height: 140px;
    width: 260px;
    border: 0;
    border-bottom: 2px solid #555555;
    background-color: transparent;
  }
  .form__wishes__list__item__textarea {
    font-size: 17px;
    flex-grow: 1;
    height: 140px;
    width: 260px;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-top: 20px;
  }
  .form__button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .form__button-container__button {
    transition: $transition;
    background-color: transparent;
    height: 52px;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    border: 2px solid #444444;
    order: 2;
  }
  .form__button-container__button:hover {
    background-color: #444444;
    color: #ffffff;
  }
  .form__button-container__button:active {
    opacity: 0.5;
  }
  .form__button-container__span {
    font-size: 14px;
    font-weight: normal;
    margin-bottom:30px ;
  }
};


@media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
  .form__wishes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 343px;
    //border: 1px solid;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: bold;
  }
  .form__wishes__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 87%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__wishes__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form__wishes__list__item {
    width: 100%;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .label-textarea {
    font-size: $basic-font-size-desktop;
    color: #63d1bb;
    margin: 0;
    margin-right: 12%;
    width: 10%;
  }
  input#textarea {
    font-size: 18px;
    transition: $transition;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    flex-grow: 1;
    height: 52px;
    width: 500px;
    border: 0;
    border-bottom: 2px solid #555555;
    background-color: transparent;
  }
  .form__wishes__list__item__textarea {
    font-size: 18px;
    flex-grow: 1;
    height: 142px;
    width: 500px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-top: 15px;
  }
  .form__button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form__button-container__button {
    transition: $transition;
    background-color: transparent;
    height: 52px;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    border: 2px solid #444444;
  }
  .form__button-container__button:hover {
    background-color: #444444;
    color: #ffffff;
  }
  .form__button-container__button:active {
    opacity: 0.5;
  }
  .form__button-container__span {
    font-size: 17px;
    font-weight: normal;
  }
};



@media (min-width: $desktop-width-min) {

  .form__wishes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1050px;
    height: 343px;
    //border: 1px solid;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: bold;
  }
  .form__wishes__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
  }
  .form__wishes__list {
    width: 875px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form__wishes__list__item {
    font-size: 19px;
    width: 875px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .label-textarea {
    font-size: $basic-font-size-desktop;
    color: #63d1bb;
    margin: 0;
    width: 175px;
  }
  input#textarea {
    font-size: 18px;
    transition: $transition;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    flex-grow: 1;
    height: 52px;
    border: 0;
    border-bottom: 2px solid #555555;
    background-color: transparent;
  }
  .form__wishes__list__item__textarea {
    font-size: 18px;
    flex-grow: 1;
    height: 142px;
    border: 2px solid #444444;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-top: 18px;
  }
  .form__button-container {
    margin-left: 175px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form__button-container__button {
    transition: $transition;
    background-color: transparent;
    height: 52px;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    border: 2px solid #444444;
  }
  .form__button-container__button:hover {
    background-color: #444444;
    color: #ffffff;
  }
  .form__button-container__button:active {
    opacity: 0.5;
  }
  .form__button-container__span {
    font-size: 17px;
    font-weight: normal;
  }
};


