.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 1090px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 143px;
    background-color: #f1f1f1;
}
.footer__wrapper {
    height: 72px;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__wrapper__logotype {
width: 102px;
    height: 34px;
    background: url("./images/logo-footer.png") no-repeat center;
    transition: 500ms;
}
.footer__wrapper__logotype:hover {
    background: url("./images/logo-footer-hover.png") no-repeat;
    transition: 500ms;
}
.footer__wrapper__logotype:active {
    background: url("./images/logo-footer-active.png") no-repeat;
    transition: 500ms;
}
.footer__wrapper__social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer__wrapper__social-media__instagram {
    width: 30px;
    height: 30px;
    background: url("./images/insta.png") no-repeat center;
    transition: 500ms;
}
.footer__wrapper__social-media__instagram:hover {
    background-image: url("./images/insta-hover.png");
    transition: 500ms;
}
.footer__wrapper__social-media__instagram:active {
    background-image: url("./images/insta-active.png");
    transition: 500ms;
}
.footer__wrapper__social-media__facebook {
    width: 30px;
    height: 30px;
    background: url("./images/facebook.png") no-repeat center;
    transition: 500ms;
}

.footer__wrapper__social-media__facebook:hover {
    background-image: url("./images/facebook-hover.png");
}
.footer__wrapper__social-media__facebook:active {
    background-image: url("./images/facebook-active.png");
}

.footer__wrapper__social-media__twitter {
    width: 30px;
    height: 30px;
    background: url("./images/twitter.png") no-repeat center;
    transition: 500ms;
}
.footer__wrapper__social-media__twitter:hover {
    background-image: url("./images/twitter-hover.png");
}
.footer__wrapper__social-media__twitter:active {
    background-image: url("./images/twitter-active.png");
}
.copyright {
    display: flex;
    justify-content: space-between;
width: 183px;
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.copyright__logotype {
width: 35px;
    height: 35px;
    background-image: url("./images/html-academy-sign.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 500ms;
}
.copyright__logotype:hover {
    background-image: url("./images/html-academy-sign-hover.png");
}
.copyright__logotype:active {
    background-image: url("./images/html-academy-sign-active.png");
}
