@import "~bootstrap/scss/bootstrap";
@import "utilities/variables";

body {
  //overflow: hidden;
  max-width: 1090px;
  min-width: $mobile-width-min;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Open Sans', serif;
  color:#444444;
}
label {
  cursor: $button-cursor;
}
tr {
  font-size: 15px;
  border-bottom: 1px solid;
  height: 43px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  max-height: 100%;
  max-width: 100%;
}
