@import "~bootstrap/scss/bootstrap";

body {
  width: 1090px;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Open Sans', serif;
  color:#444444;
}
tr {
  font-size: 15px;
  border-bottom: 1px solid;
  height: 43px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
